
         <!--   <div class="navbar navbar-fixed-bottom footer" id="index-footer">-->
    		   <!-- &copy; 2017 - Deborah Newberry | <a href="http://mband.calpoly.edu" "Cal Poly Mustang Band">Cal Poly Mustang Band</a> Photos by <a href="http://www.iansbillings.com/" "Ian Billings Photography">Ian Billings</a>-->
    	    <!--</div>-->
	    </div>
    </body>
</html>