body {
	padding: 70px 0px;
	background: black url(../images/index_background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

#profile {
	padding-top: 5%;
	display: block;
    margin: auto;
	width: 25%;
	height: 25%;
}

#welcome-message {
	text-align: center;
	color: white;

	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				0px 8px 13px rgba(0, 0, 0, 0.1),
				0px 18px 23px rgba(0, 0, 0, 0.1);
}

#index-footer {
	color: white;
}

#hello {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

a {
	text-shadow: none;
}

#resume-btn:visited {
	color: white;
}

/*a:hover, a:link {*/
/*	color: #DC965D;*/
/*}*/